@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    background: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 55px;
}

.bg-button {
    background-color: #17a2b8!important;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    font-size: 13px;
    cursor: pointer;
}

.bg-button:focus,
.bg-button:hover,
button.bg-info:focus,
button.bg-info:hover {
	background-color: #82cbd6!important
}

form {
    background-color: rgb(201, 209, 216);
    
    list-style: none;

    border-radius: 8px;
    margin-top: 8px;

    padding: 50px 150px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center; 
}

form input {
    width: 260px;

}

form input #inpBirthdate {
    width: 260px;

}